In [1]:
from pyspark.sql import SparkSession
from pydataset import data

The `mtcars` dataset was extracted from the 1974 Motor Trend US magazine and comprises fuel consumption and ten aspects of automobile design and performance for 32 automobiles (1973â€“74 models).

Here are the variables included in the dataset:

1. **mpg**: Miles/(US) gallon
2. **cyl**: Number of cylinders
3. **disp**: Displacement (cu.in.)
4. **hp**: Gross horsepower
5. **drat**: Rear axle ratio
6. **wt**: Weight (1000 lbs)
7. **qsec**: 1/4 mile time
8. **vs**: Engine shape (0 = V-shaped, 1 = straight)
9. **am**: Transmission (0 = automatic, 1 = manual)
10. **gear**: Number of forward gears
11. **carb**: Number of carburetors

The rows each correspond to a different model of car.

In [4]:
# Load mtcars data into a pandas DataFrame
mtcars_pd = data('mtcars')
mtcars_pd

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [5]:
spark = SparkSession.builder.appName('pyspark_demo').getOrCreate()

23/05/26 19:57:48 WARN Utils: Your hostname, edgar resolves to a loopback address: 127.0.1.1; using 192.168.2.102 instead (on interface enp2s0f0)
23/05/26 19:57:48 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/26 19:57:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
# Convert pandas DataFrame to Spark DataFrame
mtcars_df = spark.createDataFrame(mtcars_pd)

mtcars_df.show()

+----+---+-----+---+----+-----+-----+---+---+----+----+
| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+----+---+-----+---+----+-----+-----+---+---+----+----+
|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|
|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|
|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|
|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|
|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|
|18.1|  6|225.0|105|2.76| 3.46|20.22|  1|  0|   3|   1|
|14.3|  8|360.0|245|3.21| 3.57|15.84|  0|  0|   3|   4|
|24.4|  4|146.7| 62|3.69| 3.19| 20.0|  1|  0|   4|   2|
|22.8|  4|140.8| 95|3.92| 3.15| 22.9|  1|  0|   4|   2|
|19.2|  6|167.6|123|3.92| 3.44| 18.3|  1|  0|   4|   4|
|17.8|  6|167.6|123|3.92| 3.44| 18.9|  1|  0|   4|   4|
|16.4|  8|275.8|180|3.07| 4.07| 17.4|  0|  0|   3|   3|
|17.3|  8|275.8|180|3.07| 3.73| 17.6|  0|  0|   3|   3|
|15.2|  8|275.8|180|3.07| 3.78| 18.0|  0|  0|   3|   3|
|10.4|  8|472.0|205|2.93| 5.25|17.98|  0|  0|   3|   4|
|10.4|  8|460.0|215| 3.0|5.424|17.82|  0|  0|   3|   4|
|14.7|  8|440.0|230|3.23|5.345|17.42|  0|  0|   3|   4|
|32.4|  4| 78.7| 66|4.08|  2.2|19.47|  1|  1|   4|   1|
|30.4|  4| 75.7| 52|4.93|1.615|18.52|  1|  1|   4|   2|
|33.9|  4| 71.1| 65|4.22|1.835| 19.9|  1|  1|   4|   1|
+----+---+-----+---+----+-----+-----+---+---+----+----+
only showing top 20 rows

In [7]:
mtcars_df.show(5)

+----+---+-----+---+----+-----+-----+---+---+----+----+
| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+----+---+-----+---+----+-----+-----+---+---+----+----+
|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|
|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|
|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|
|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|
|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|
+----+---+-----+---+----+-----+-----+---+---+----+----+
only showing top 5 rows

In [8]:
mtcars_df.select('mpg', 'hp').show()

+----+---+
| mpg| hp|
+----+---+
|21.0|110|
|21.0|110|
|22.8| 93|
|21.4|110|
|18.7|175|
|18.1|105|
|14.3|245|
|24.4| 62|
|22.8| 95|
|19.2|123|
|17.8|123|
|16.4|180|
|17.3|180|
|15.2|180|
|10.4|205|
|10.4|215|
|14.7|230|
|32.4| 66|
|30.4| 52|
|33.9| 65|
+----+---+
only showing top 20 rows

In [9]:
mtcars_df.filter(mtcars_df.mpg > 20).show()

+----+---+-----+---+----+-----+-----+---+---+----+----+
| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+----+---+-----+---+----+-----+-----+---+---+----+----+
|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|
|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|
|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|
|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|
|24.4|  4|146.7| 62|3.69| 3.19| 20.0|  1|  0|   4|   2|
|22.8|  4|140.8| 95|3.92| 3.15| 22.9|  1|  0|   4|   2|
|32.4|  4| 78.7| 66|4.08|  2.2|19.47|  1|  1|   4|   1|
|30.4|  4| 75.7| 52|4.93|1.615|18.52|  1|  1|   4|   2|
|33.9|  4| 71.1| 65|4.22|1.835| 19.9|  1|  1|   4|   1|
|21.5|  4|120.1| 97| 3.7|2.465|20.01|  1|  0|   3|   1|
|27.3|  4| 79.0| 66|4.08|1.935| 18.9|  1|  1|   4|   1|
|26.0|  4|120.3| 91|4.43| 2.14| 16.7|  0|  1|   5|   2|
|30.4|  4| 95.1|113|3.77|1.513| 16.9|  1|  1|   5|   2|
|21.4|  4|121.0|109|4.11| 2.78| 18.6|  1|  1|   4|   2|
+----+---+-----+---+----+-----+-----+---+---+----+----+

In [10]:
# grouping and aggregation
mtcars_df.groupBy('cyl').avg('mpg').show()

+---+-----------------+
|cyl|         avg(mpg)|
+---+-----------------+
|  6|19.74285714285714|
|  4|26.66363636363636|
|  8|             15.1|
+---+-----------------+

In [11]:
# sorting
mtcars_df.sort(mtcars_df.mpg.desc()).show()

+----+---+-----+---+----+-----+-----+---+---+----+----+
| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+----+---+-----+---+----+-----+-----+---+---+----+----+
|33.9|  4| 71.1| 65|4.22|1.835| 19.9|  1|  1|   4|   1|
|32.4|  4| 78.7| 66|4.08|  2.2|19.47|  1|  1|   4|   1|
|30.4|  4| 95.1|113|3.77|1.513| 16.9|  1|  1|   5|   2|
|30.4|  4| 75.7| 52|4.93|1.615|18.52|  1|  1|   4|   2|
|27.3|  4| 79.0| 66|4.08|1.935| 18.9|  1|  1|   4|   1|
|26.0|  4|120.3| 91|4.43| 2.14| 16.7|  0|  1|   5|   2|
|24.4|  4|146.7| 62|3.69| 3.19| 20.0|  1|  0|   4|   2|
|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|
|22.8|  4|140.8| 95|3.92| 3.15| 22.9|  1|  0|   4|   2|
|21.5|  4|120.1| 97| 3.7|2.465|20.01|  1|  0|   3|   1|
|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|
|21.4|  4|121.0|109|4.11| 2.78| 18.6|  1|  1|   4|   2|
|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|
|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|
|19.7|  6|145.0|175|3.62| 2.77| 15.5|  0|  1|   5|   6|
|19.2|  8|400.0|175|3.08|3.845|17.05|  0|  0|   3|   2|
|19.2|  6|167.6|123|3.92| 3.44| 18.3|  1|  0|   4|   4|
|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|
|18.1|  6|225.0|105|2.76| 3.46|20.22|  1|  0|   3|   1|
|17.8|  6|167.6|123|3.92| 3.44| 18.9|  1|  0|   4|   4|
+----+---+-----+---+----+-----+-----+---+---+----+----+
only showing top 20 rows

In [12]:
#  Creating a boolean column indicating if mpg > 20
from pyspark.sql.functions import col

mtcars_df = mtcars_df.withColumn('is_high_mpg', col('mpg') > 20)
mtcars_df.show()

+----+---+-----+---+----+-----+-----+---+---+----+----+-----------+
| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|is_high_mpg|
+----+---+-----+---+----+-----+-----+---+---+----+----+-----------+
|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|       true|
|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|       true|
|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|       true|
|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|       true|
|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|      false|
|18.1|  6|225.0|105|2.76| 3.46|20.22|  1|  0|   3|   1|      false|
|14.3|  8|360.0|245|3.21| 3.57|15.84|  0|  0|   3|   4|      false|
|24.4|  4|146.7| 62|3.69| 3.19| 20.0|  1|  0|   4|   2|       true|
|22.8|  4|140.8| 95|3.92| 3.15| 22.9|  1|  0|   4|   2|       true|
|19.2|  6|167.6|123|3.92| 3.44| 18.3|  1|  0|   4|   4|      false|
|17.8|  6|167.6|123|3.92| 3.44| 18.9|  1|  0|   4|   4|      false|
|16.4|  8|275.8|180|3.07| 4.07| 17.4|  0|  0|   3|   3|      false|
|17.3|  8|275.8|180|3.07| 3.73| 17.6|  0|  0|   3|   3|      false|
|15.2|  8|275.8|180|3.07| 3.78| 18.0|  0|  0|   3|   3|      false|
|10.4|  8|472.0|205|2.93| 5.25|17.98|  0|  0|   3|   4|      false|
|10.4|  8|460.0|215| 3.0|5.424|17.82|  0|  0|   3|   4|      false|
|14.7|  8|440.0|230|3.23|5.345|17.42|  0|  0|   3|   4|      false|
|32.4|  4| 78.7| 66|4.08|  2.2|19.47|  1|  1|   4|   1|       true|
|30.4|  4| 75.7| 52|4.93|1.615|18.52|  1|  1|   4|   2|       true|
|33.9|  4| 71.1| 65|4.22|1.835| 19.9|  1|  1|   4|   1|       true|
+----+---+-----+---+----+-----+-----+---+---+----+----+-----------+
only showing top 20 rows

In [13]:
# run SQL queries directly on the Spark DataFrame
mtcars_df.createOrReplaceTempView("mtcars_view")

result_df = spark.sql(
    "SELECT cyl, AVG(mpg) as avg_mpg FROM mtcars_view GROUP BY cyl"
)
result_df.show()

+---+-----------------+
|cyl|          avg_mpg|
+---+-----------------+
|  6|19.74285714285714|
|  4|26.66363636363636|
|  8|             15.1|
+---+-----------------+

In [14]:
spark.stop()